html, body {
    /*width:100%;*/
    height: 100%;
    padding: 0px;
    margin: 0px;
    /*overflow: hidden;*/
}

.prolog_bfs_alert {
    position: fixed;
    display: none;
    top: 1%;
    right: 1%;
    /*background-color: rgba(0,0,0,0.5);  Black background with opacity */
    z-index: 2;
}

.bfs-container {
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    margin: 5px;
    padding: 1px;
}

.editor {
    font-size: medium;
}

.code {
    font-family: monospace, Monaco;
}

.resultalert {
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-right: 3rem;
}
.resultalert hr {
    margin: 0.25rem;
}

.resultalert p {
    margin-bottom: 0.25rem;
}

.editor_syntax_error_line {
    position:absolute;
    /*z-index:20;*/
    background-color: #ffff99;
}

.editor_syntax_error_col {
    position:absolute;
    
    /* Make sure that there is also a marker if it affects the last
    character of the line */
    border-left: 3px solid red;
    
    /* Usual case: background for the affected character */
    background-color: red;
}

#modal_tree_result_body {
    height: 40em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
}