.idea/*
nbproject/*
cmake-build-debug/*
CMakeFiles/*
.clang_complete
.clangd/
.dir-locals.el
.projectile
TAGS
compile_commands.json
Makefile
cmake_install.cmake
CMakeCache.txt
build/*
bfs

# this can be removed as soon as https://github.com/emscripten-core/emscripten/issues/9637#issuecomment-632742739 is fixed
web/prolog_bfs.data 
